:root{
    /* Colores */
    --primary-color: #284b63;
    --secondary-color: #d9d9d9;
    --terciary-color: #353535;
    --support-color: #3c6e71;
    --background-color: #ffffff;
    
    /* Tipografía */
    --main-font: 'Roboto', sans-serif; /* Sugerida para tecnología */
    --heading-font: 'Montserrat', sans-serif; /* Sugerida para títulos */
    
    /* Espaciado y bordes */
    --border-radius-sm: 4px;
    --border-radius-lg: 12px;
    --shadow-sm: 0 2px 4px rgba(0,0,0,0.1);
    --shadow-md: 0 4px 8px rgba(0,0,0,0.15);
}